<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title> DJANGO TEST </title>
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for repo in repos %}
                <tr>
                    <th> {{ forloop.counter }} </th>
                    <td> {{ repo.id }} </td>
                    <td> {{ repo.name }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
